<!DOCTYPE html>
<html>
    <head>
        <title>Sleeping Sickness Surveillance Form</title>
    </head>
    <body>
    <h1> Sleeping Sickness Form </h1>
    Fill out the sleeping sickness form!

    <form action="{{ first_symptom_mop.slug }}/" method="post">
            {% csrf_token %}
    <input type="submit" name="first" value="Form for members of the public"/>
    <form action="{{ first_symptom_mop.slug }}/" method="post">
            {% csrf_token %}
    <input type="submit" name="first" value="Form for healthcare workers"/>
    <form action="{{ first_symptom_eov.slug }}/" method="post">
            {% csrf_token %}
    <input type="submit" name="first" value="Form for entomologists and vets"/>

    {% if log_amount == 1 %}
    <p>You have logged data for <b>1</b> person today.</p>
    {% else %}
    <p>You have logged data for <b>{{ log_amount }}</b> people today.</p>
    {% endif %}
    </body>
</html>