{% extends 'sleep_app/base.html' %}
{% load static %}


{% block body_main_block %}
<div class="card bg-light p-5">

    <form class="form-signin text-center" method="POST" action="{% url 'sleep_app:login' %}">
        <h3 class="text-center font-weight-normal mb-3">Please Sign In</h3>
        <p class="errormsg">{{ errormsg }}</p>
        {% csrf_token %}
        <input type="text" id="username" name="username" class="form-control mw-50 mx-auto" placeholder="Username" required=""
            autofocus="">
        <input type="password" name="password" value="" id="password" class="mt-2 form-control mw-50 mx-auto" placeholder="Password"
            required="">

        <input class="btn btn-primary my-4" type="submit" value="Log In">

        <br>
        Not yet registered?<br/>
        <a class="btn btn-link" href="{% url 'sleep_app:register' %}">Register here!</a>
        <input type="hidden" name="next" value="">
    </form>

</div>
{% endblock %}