{% extends 'sleep_app/base.html' %}
{% load static %}

{% block body_block %}
<form action="." method="post">{% csrf_token %}
  <select name='dropdown'>
    <option selected="selected" disabled>Symptom to select</option>
    {% for symptom in all_symptoms %}
    {% if selected_symptom == symptom.name %}
    <option value="{{ symptom.name }}" selected="selected">
      {% else %}
    <option value="{{ symptom.name }}">
      {% endif %}
      {{ symptom.name }}
    </option>
    {% endfor %}
  </select>
  <input type="submit" value="Select">
</form>

<table>
  <tr>
    <th>
      <p style="font-family: 'Arial Black'; padding-left: 80px; font-size: 30px; margin: 0">Whole map view</p>
      {% autoescape off %}
      {{ plot_div }}
      {% endautoescape %}
    </th>
    <th>
      <p style="font-family: 'Arial Black'; padding-left: 80px; font-size: 30px; margin: 0">Africa view</p>
      {% autoescape off %}
      {{ plot_div2 }}
      {% endautoescape %}

    </th>
  </tr>
</table>
{% endblock %}