{% extends 'sleep_app/base.html' %}
{% load static %}
{% load i18n %}

{% block head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'sleep_app/css/map.css' %}">
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="card bg-light">
    <ul class="nav p-2">
        <form action="." method="post">
            {% csrf_token %}
            <select name='dropdown1' class='dropdown'>
                <option selected="selected" disabled>{% trans "Symptom to select" %}</option>
                {% for symptom in all_symptoms %}
                {% if selected_symptom == symptom.name %}
                <option value="{{ symptom.name }}" selected="selected">
                    {% else %}
                <option value="{{ symptom.name }}">
                    {% endif %}
                    {{ symptom.name }}
                </option>
                {% endfor %}
            </select>
            <input type="submit" class="btn btn-success" value="Select">
            <a class="btn btn-primary" href="{% url 'sleep_app:export' %}">{% trans "Export as CSV" %}</a>
        </form>

    </ul>


    <div class="worldMap overflow-auto">
        {% autoescape off %}
        {{ plot_div }}
        {% endautoescape %}
    </div>

    <div class="worldMap overflow-auto">
        {% autoescape off %}
        {{ plot_div2 }}
        {% endautoescape %}
    </div>
    </div>
</div>

{% endblock %}