{% extends 'sleep_app/base.html' %}
{% load render_table from django_tables2 %}
{% load static %}


{% block head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'sleep_app/css/table.css' %}">
<style type="text/css">
.tg  {border:none;border-collapse:collapse;border-color:#aabcfe;border-spacing:0;}
.tg td{background-color:#e8edff;border-color:#aabcfe;border-style:solid;border-width:0px;color:#669;
    font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#b9c9fe;border-color:#aabcfe;border-style:solid;border-width:0px;color:#039;
    font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
{% endblock %}

{% block body_block %}
<div>
    <a class="m-2 btn btn-primary export" href="{% url 'sleep_app:export' %}">Export as CSV</a>
</div>
<div class="table-responsive">
    <table class="tg table table-hover">
        <thead>
            <tr>
            {% for h in headers %}
            <th class="tg-0lax">{{ h }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                {% for k, v in d.items %}
                <td class="tg-0lax">{{ v }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
        </tbody>
        </table>
    </div>
{% endblock %}
