{% extends 'sleep_app/base.html' %}
{% load static %}
{% load i18n %}

{% block head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'sleep_app/css/register.css' %}">
{% endblock %}

{% block body_main_block %}
<div class="card bg-light py-5">

    <form class="form-signin text-center" method="POST" action="">
        <h3 class="text-center font-weight-normal mb-3">{% trans "Registration Form" %}</h3>
        {% csrf_token %}
        {% for field in form %}
        <input type="{{ field.field.widget.input_type }}" id="{{ field.html_name }}" name="{{ field.html_name }}"
            class="form-control mb-1" placeholder="{{ field.label }}" required="{{ field.field.required }}">
        <ul>
            {% for error in field.errors %}
            <li class="fieldError">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
        <input class="btn btn-primary mb-3 mt-1" id="register" type="submit" , value="Register" name="Create User">

        <br>

        {% trans "Already registered?" %}<br/>
        <a style="btn btn-link" href="{% url 'sleep_app:login' %}">{% trans "Login here!" %}</a>

    </form>

    {% endblock %}