{% extends 'sleep_app/base.html' %}
{% load render_table from django_tables2 %}
{% load static %}


{% block head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'sleep_app/css/table.css' %}">
{% endblock %}

{% block body_block %}
    <main role="main" class="container bodyblock" style="margin-top: 50px;"></main>
        <div class='exportField'>
            <a class="btn btn-outline-primary export" href="#">Export as CSV</a>
        </div>
        {% render_table table %}
    </main>
{% endblock %}
