{% extends 'sleep_app/base.html' %}
{% load static %}
{% load i18n %}

{% block head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'sleep_app/css/table.css' %}">
{% endblock %}

{% block body_block %}
<div class="exportField">
    <a class="m-2 btn btn-primary export" href="{% url 'sleep_app:export' %}">{% trans "Export as CSV" %}</a>
</div>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead class="table-primary">
            <tr>
                {% for h in headers %}
                <th>{{ h }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                {% for k, v in d.items %}
                <td>{{ v }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
        </tbody>
    </table>
</div>
{% endblock %}