/* .title {
   background-color: #2f5aab;
   color: white;
   border-radius: 5px 5px 0px 0px;
}

h1 {
   font-size: 30px;
   margin-bottom: 3px;
}

.text {
   font-size: 23px;
}

.navbar {
   background-color: #2f5aab;
   color: black;
}

.nav-link {
   color: white;
} */
