/* .title {
   background-color: #2f5aab;
   color: white;
   border-radius: 5px 5px 0px 0px;
}

h1 {
   font-size: 30px;
   margin-bottom: 3px;
}

.text {
   font-size: 23px;
}

.navbar {
   background-color: #2f5aab;
   color: black;
}

.nav-link {
   color: white;
} */

.container {
    padding-left: 0;
    padding-right: 0;
}

.marginSides {
    margin-left: 10px;
    margin-right: 10px;
}

.title {
    padding: 7px;
    margin-bottom: 5px;
    color: white;
    background-color: rgb(61, 97, 151);
}

.jumbotron {
    margin-top: 15px;
}