.form-signin {
    width: 85%;
    max-width: 300px;
    margin-left:auto;
    margin-right:auto;
}

ul {
    margin: 0;
}

.fieldError {
    color: rgb(192, 0, 0);
}

#register {
    max-width: 300px;
    width: 100%;
}
